body {
  font-family: sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #F8D5C8;
}
#score {
  font-size: 34px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-weight: bold;
} 